.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 14px 28px;
  min-width: 196px;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #373737;
  border: 1px solid;
  border-radius: 10.3108px;
  background-color: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
}

.isFollow {
  background-color: #5cd3a8;
}
